@use "../../presets" as *;
@use "../../mixins" as *;

.video--bg {
  background-color: $color-bg-container;
  min-height: 28px;
}

.video {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__iframe {
    width: 1110px;
    height: 600px;
    border: none;
    margin-top: 0;
    margin-bottom: 100px;

    @include md {
      height: 400px;
    }

   @include rr {
     height: 188px;
     margin-bottom: 100px;
   }

    @include sm {
      height: 188px;
      margin-bottom: 100px;
    }
  }
}