@use "../../presets" as *;
@use "../../mixins" as *;

.navbar__list {
  display: flex;
  justify-content: flex-start;
  gap: 23px;

  @include md {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 10px;
    display: none;
    text-align: center;
  }
}

.navbar__link {
  font-size: $font-size;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: $color-black;
  transition: 0.25s;
  display: block;
  padding: 10px;
  margin-bottom: -10px;

  @include md {
    padding: 20px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &--first {
    color: $color-navbar-first-link;
    font-weight: 500;
    margin-left: -10px;

    @include md {
      margin-left: 0;

    }
  }
}
