$font-family: "Roboto", sans-serif;
$font-size: 16px;

$container-primary: 1110px;
$container-sm: 540px;
$gap: 20px;
$gap-sm: 10px;
$gap-lg: 40px;

$ul: 1380px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;
$rr: 375px;